@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Unbounded&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Unbounded&family=Varela+Round&family=Zen+Dots&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Unbounded', cursive;
}

nav ul {
    display: flex;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 45px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 65vh;
    background:url('bg.jpg') no-repeat center center  fixed;
    background-size:cover;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto; 
    width: 70%;
    border-radius: 12px;
    padding: 34px;
}

.bottom{
    height: 90px;
    position: sticky;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 10px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songitemcontainer{
    margin-top: 30px;
}

.songitem{
    display: flex;
    height: 50px;
    background-color: white;
    margin: 12px 0;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songitem img{
    width: 60px;
    margin: 0 23px; 
    border-radius: 30px;
}
 
.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songinfo img{
    opacity: 0;
    transition: opacity .3s ease-in;
}